<div class="hpb-wrapper">
    <div class="hpb-header">
        <a class="IKCS-black-btn but" href="{{ node.field_first_button_url.value }}">{{ node.field_first_button_text.value }}</a>
    </div>
    <div class="hpb-body">
        {{ content.body }}
    </div>
    <div class="hpb-footer">
        {{ node.field_before_last_button.value }}
        <a class="IKCS-green-btn but" href="{{ node.field_last_button_url.value }}">{{ node.field_last_button_text.value }}</a>
    </div>
</div>